__pycache__/*
output/*
data/*
submodules/*/build/*
slurms/*.sh
slurms/**/*.sh
slurms/*.out
slurms/**/*.out
slurms/wandb/*
*.pyc
*.out
*.code-workspace
slurms/**/wandb/*
slurms_sc/*.sh
slurms_sc/**/*.sh
slurms_sc/*.out
slurms_sc/**/*.out
slurms_sc/wandb/*
slurms_sc/**/wandb/*
src/models/GS3d_flow_old.py
**/build/**
**/__pycache__/**
**/*.egg-info/**
visualize/*.pkl
visualize/*.png
**/*.pt
*.png
check_run.sh
download_from_orion.sh
HyperNeRF_Scenes_Motion_Masks/*
